.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding-top: 50px;
    margin-top:60px;
  }

  &__me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    margin-top: 30px;
    @media (max-width: 1200px) {
      padding: 0 30px;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      width: 100%;
      padding-top: 20px;
    }
    @media (max-width: 500px) {
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
    &__wrapper{
      display: flex;
      justify-content: center;
      background-color: #889079;
      width: 100%;
    }


    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 10px solid #fff;
      @media (max-width: 1024px) {
        width: 90%;
      }

      img {
        width: 100%;
        height: auto;

      }
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 40px;
      @media (max-width: 1024px) {
        width: 100%;
        padding: 25px;
      }

      &__header {
        font-size: 25px;
        margin: 20px 0;
        @media (max-width: 1024px) {
          font-size: 20px;
        }
      }

      &__info {
        font-size: 17px;
        line-height: 1.2;
        @media (max-width: 1024px) {
          font-size: 13px;
        }
      }
    }
  }
}