.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
  }

  &__me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    margin-top: 30px;
    background-color: #9C7178;
    @media (max-width: 1024px) {
      flex-direction: column;
      width: 100%;
      padding-top: 20px;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      border: 10px solid #fff;
      @media (max-width: 1024px) {
        width: 90%;
      }

      img {
        width: 100%;
        height: auto;

      }
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 40%;
      padding: 40px;
      @media (max-width: 1024px) {
        width: 100%;
        padding: 25px;
      }

      &__header {
        font-size: 30px;
        margin: 20px 0;
        @media (max-width: 768px) {
          font-size: 22px;
        }
      }

      &__info {
        font-size: 15px;
        line-height: 1.5;
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }
  }
}