.about{
  &__images{
    margin:50px 0;
  }
  &__images-container{
    display: flex;
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
  &__img {

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 60%;
      height: auto;
      @media (max-width: 800px) {
        width: 70%;
        padding-top: 20px;
      }
    }
  }
}