.footer{
  width: 100%;
padding-top:30px;
  background-color: #fff;
  border-top: 1px solid #c6bdb4;

  &__container{
    display: flex;
    justify-content: center;
    @media(max-width:768px){
    flex-direction: column;
  }
  }
  &__left,&__right{
    display: flex;
    flex-direction: column;
    max-width:600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media(max-width:768px){
      width: 100%;
    }
  }
  &__logo img{
    width: 100px;
    height: auto;
  }
  &__contact, &__copy,&__logo,&__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-weight: bold;
    color: #889079;
  }
  &__contact{
    background-color: #fff;
  }
  &__socials{
    text-decoration: none;
    background-color: #fff;

  }
  &__logo{
    background-color: #fff;
  }
  &__copy{
    background-color:#fff;
  }

}
.fa-brands{
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-decoration: none;
  color: #54594a;
  padding: 20px;
}