.footer{
  width: 100%;
padding-top:30px;
  background-color: #e1cfcf;

  &__container{
    display: flex;
    justify-content: center;
    @media(max-width:768px){
    flex-direction: column;
  }
  }
  &__left,&__right{
    display: flex;
    flex-direction: column;
    max-width:600px;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media(max-width:768px){
      width: 100%;
    }
  }
  &__logo img{
    width: 150px;
    height: auto;
  }
  &__contact, &__copy,&__logo,&__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: white;
  }
  &__contact{
    background-color: #e1cfcf;
  }
  &__socials{
    color: white;
    text-decoration: none;
    background-color: #e1cfcf;

  }
  &__logo{
    background-color: #e1cfcf;
  }
  &__copy{
    background-color:#e1cfcf;
  }

}
.fa-brands{
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding: 20px;
}