
.gallery-container{
  margin: 0 auto;
  padding: 100px 20px 0;
}

.gallery-text-container {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.gallery-header{
  text-align: center;
  font-family: tomatoes;
  font-size: 30px;
}
.gallery-text{
  font-size: 19px;
  @media (max-width: 500px) {
    text-align: center;
  }
}